.Client_testimonals_section{
    color: black;
}

.ClientTest_heading{
    font-size: xx-large;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 30px;
}
.ClientSlides{
    text-align: center;
}